.meshLayer {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 50.0;
}

.main {
  padding-top: 80px;
}

.title {
  width: 100%;
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbba00;
  color: transparent;
  top: 0px;
}

.overlay.yellow {
  -webkit-text-stroke-color: #fbba00;
}

.overlayDesc {
  color: #fbba00;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  letter-spacing: normal;
  line-height: normal;
  -webkit-text-stroke-width: 0px;
  margin: 0px;
}

.reveal.yellow{
  color: #fbba00;
  border: 2px solid #fbba00;
  bottom: 100px;
}

.reveal.yellow:hover {
  background-color: #fbba00;
  color: black;
  border: 2px solid black;
}

.design {
  animation-name: appear;
  animation-duration: 4s;
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 50px;
}

.art {
  animation-name: shrinkText;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  position: absolute;
  top: 10px;
  left: 45px;
}

@keyframes shrinkText {
  0%   {font-size: 400px;}
  100% {font-size: 50px;}
}

@keyframes appear {
  0%   {opacity: 0}
  100% {opacity: 100}
}

@keyframes left {
  0%   {right: 20px;}
  100% {right: 400px;}
}

/* .underline {
  text-decoration: underline;
  -webkit-text-decoration-stroke: 1px;
  -webkit-text-decoration-color: #fbba00;
  text-decoration-color: rgba(251, 186, 0, 0.3);
} */
