.dotAnimation {
  position: fixed;
  animation-name: dotShrink;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

.dotSwirl {
  position: fixed;
  animation-name: dotNudge;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

.reddot {
  animation-delay: 3.15s;
  animation-duration: 0.55s;
}

.yellowdot {
  animation-delay: 3.0s;
  animation-duration: 0.55s;
}

.greendot {
  animation-delay: 3.3s;
  animation-duration: 0.55s;
}

.browndot {
  animation-delay: 3.45s;
  animation-duration: 0.5s;
}

.initialAnimation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes dotShrinkLegacy {
  from { r: 1800; } to { r: 24; }
}

@keyframes dotShrink {
  0% { r: 1800; }
  40% { r: 800; }
  70% { r: 300;}
  100% { r: 24; }
}

@keyframes dotNudge {
  0% from { r: 1800; } to { r: 600; }
  50% from { r: 600; } to { r: 24; }
}
