.title .neon {
  width: 100%;
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fc2c28;
  text-shadow: 0 0 50px #fc2c28;
  color: transparent;
  font-size: 100px;
}

.overlay.red {
  -webkit-text-stroke-color: #fc2c28;
}

.selected .overlay.red {
  animation: neon 3s ease-in infinite alternate;
  animation-delay: .5s;
}

.header {
  font-size: 40px;
  position: absolute;
  top: 290px;
  right: 40%;
  color: #fc2c28;
}

.floating {
  color: #dcdee0;
  position: absolute;
}

.placeholder2 {
    position: absolute;
    animation: fade 5s ease-in infinite alternate;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #fbba00,   /* inner left magenta short */
        inset -20px 0 80px #fc2c28,  /* inner right cyan short */
        inset 20px 0 300px #fbba00,  /* inner left magenta broad */
        inset -20px 0 300px #fc2c28, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #fbba00,        /* outer left magenta */
        10px 0 80px #fc2c28;         /* outer right cyan */
}

@keyframes fade {
  from { opacity: 1; box-shadow: inset 0 0 50px #fc2c28, inset 20px 0 80px #fbba00; width: 900px; height:900px; }
  to { opacity: .3; box-shadow: inset 20px 0 80px #fc2c28; width: 350px; height: 350px;}
}

.reveal.red:hover {
  animation: glow 1s ease-out infinite alternate;
  color: #fc2c28;
}

.reveal.red {
  bottom: 250px;
  color: black;
  border: 2px solid #fc2c28;
  font-weight: 100;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fc2c28, 0 0 10px #fc2c28, 0 0 15px #fc2c28;
  }
  to {
    box-shadow: 0 0 10px #fc2c28, 0 0 15px #fc2c28, 0 0 20px #fc2c28;
  }
}

@keyframes neon3 {
  0% {text-shadow: 0 0 8px #fc2c28, 0 0 12px #fc2c28, 0 0 16px #fc2c28; opacity: .5;}
  5% {text-shadow: 0 0 8px #fc2c28, 0 0 12px #fc2c28, 0 0 16px #fc2c28; opacity: .5;}
  40% {text-shadow: 0 0 140px #fc2c28, 0 0 170px #fc2c28, 0 0 200px #fc2c28; opacity: 1;}
  66% {text-shadow: none }

}

@keyframes neon2 {
  33% {text-shadow: none }
  60% {text-shadow: 0 0 140px #fc2c28, 0 0 170px #fc2c28, 0 0 200px #fc2c28; opacity: 1;}
  0% {text-shadow: 0 0 8px #fc2c28, 0 0 12px #fc2c28, 0 0 16px #fc2c28; opacity: .5;}
}

@keyframes neon {
  33% {text-shadow: none }
  60% {text-shadow: 0 0 140px #fc2c28, 0 0 170px #fc2c28, 0 0 200px #fc2c28; opacity: 1;}
  100% {text-shadow: 0 0 8px #fc2c28, 0 0 12px #fc2c28, 0 0 16px #fc2c28; opacity: .5;}
}
